.search {
  margin-top: 20px;
}

.search-input {
  font-size: 2rem !important;
  width: 80% !important;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.movie-list {
  display: block;
  float: left;
}

.movie {
  display: inline-block;
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
  align-items: center;
}

.movie img {
  width: 50%;
  padding: 0 25%;
}

.movie h3 {
  text-align: center;
}
