.top-bar {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 4rem;
  background-color: lightblue;
  display: block;
  /* border: 1px solid black; */
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.container {
  display: flex;
}

.container a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}

.left-justify {
  margin: 0;
  /* width: 50% */
}

.vert-align {
  align-items: center;
  display: flex;
  height: inherit;
}

.top-bar-title {
  font-size: 2rem;
  cursor: pointer;
  padding: 1.5rem 0.5rem;
}

.top-bar-links {
  display: flex;
  padding: 1.6rem 0.5rem;
}

/* .top-bar-links ul {
  margin: 0;
  padding: 0;
} */

.top-bar-links li {
  display: inline-flex;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

@media (min-width: 920px) {

  /* .vert-align {
    align-items: center;
    display: flex;
    height: 10vh;
  } */

  .top-bar-items {
    /* width: 87%; */
    display: inherit;
    padding: 0 0.5rem;
  }

  .center {
    width: 50%;
    margin: auto;
    text-align: center;
  }

}

@media (max-width: 919px) {

  .center {
    width: 500px;
    margin: 0;
  }

  .left-justify {
    width: 100vw;
  }

  /* .vert-align {
    align-items: center;
    display: flex;
    height: 10vh;
  } */

  .top-bar-items {
    /* width: 87%; */
    display: inherit;
    /* margin: auto; */
  }
}

@media (max-width: 550px) {

  .top-bar {
    min-height: 5rem;
  }

  .center {
    width: 500px;
    margin: 0;
    text-align: center;
    text-align: -webkit-center;
  }

  .left-justify {
    width: 100vw;
  }

  .top-bar-items {
    width: inherit;
    display: block;
    flex-direction: column;
    text-align: center;
    text-align: -webkit-center;
  }

  .top-bar-title {
    padding: 0.5rem 0.5rem;
    text-align: center;
    max-width: 100%;
  }

  .top-bar-links {
    padding: 0.5rem 0.5rem;
    display: block;
    overflow: hidden;
    max-width: 100%;
    height: 2rem;
    /* text-align: center;
    text-align: -webkit-center; */
  }

  .top-bar-links ul {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
  }
}
