.top-bar {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 10vh;
  background-color: lightblue;
  display: block;
  /* border: 1px solid black; */
  box-shadow: 10px -10px 10px 10px rgba(0,0,0,0.75);
}

.container {
  display: flex;
}

.container a {
  text-decoration: none;
  color: black;
}

.top-bar-links {
  display: flex;
  height: 5vh;
}

.top-bar-links li {
  display: inline-flex;
  padding: 5px;
  min-width: 100px;
  cursor: pointer;
}

.top-bar-title {
  /* font-size: 16px; */
  cursor: pointer;
  min-width: 200px;
}

@media (min-width: 920px) {

  .vert-align {
    align-items: center;
    display: flex;
    height: 9vh;
  }

  .top-bar-items {
    width: 87%;
    display: inherit;
    margin: auto;
  }

  .center {
    width: 50%;
    margin: auto;
    text-align: center;
  }

}

@media (min-width: 501px) {

  .center {
    width: 500px;
    margin: 0;
    text-align: center;
  }

  .vert-align {
    align-items: center;
    display: flex;
    height: 9vh;
  }

  .top-bar-items {
    /* width: 87%; */
    display: inherit;
    /* margin: auto; */
  }
}

@media (max-width: 500px) {

  .center {
    width: 500px;
    margin: 0;
    text-align: center;
  }

  .vert-align {
    align-items: center;
    display: flex;
    height: 9vh;
  }

  .top-bar-items {
    /* width: 87%; */
    display: inherit;
    /* margin: auto; */
  }
}
